.port-container {
    background-color: whitesmoke;
}

.port-text {
    text-align: center;
    color: blue;
}

.port-text-p {
    text-align: center;
    color: black;
}

.p-projectTwo {
    color: whitesmoke;
}