
.intro {
    width: 100%;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    
}  

.intro-left {
    flex: 0.5;
    overflow: hidden;
}

.imageContainer {
    width: 700px;
    height: 700px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

img {
    height: 100%;
}

.intro-right {
    flex: 0.5;
    position: relative;
}

.intro-wrapper {
    height: 60%;
    width: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



h1 {
    font-size: 60px;
    margin: 10px 0;
}
h2 {
    font-size: 30px;
}

h3 {
    font-size: 35px;
}

.intro-right a {
    position: absolute;
    bottom: 15px;
    left: 40%;
}

.arrow {
    font-weight: bolder;
}

.intro-right span {
    color: crimson;
}

@media screen and (max-width: 1400px) {
    .intro {
        flex-wrap: wrap;
    }
    .intro-left {
        flex: 0;
        position: static;
    }

    .intro-right {
        flex: 1.5;
        position: static;
    }

    .intro-wrapper {
        flex-wrap: wrap;
    }
    
    
}