
.intro {
    width: 100%;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display: flex;
    background-color: white;
    
}  

.intro-left {
    flex: 0.5;
    background-color: yellow;
}

.intro-right {
    flex: 0.5;
    background-color: green;
}